/**********
FONT STYLES
**********/

@font-face {
    font-family: 'Glober';
    src: url('Glober_Thin_Free-webfont.woff2') format('woff2'),
         url('Glober_Thin_Free-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Glober';
    src: url('../fonts/Glober_Bold_Free-webfont.woff2') format('woff2'),
         url('../fonts/Glober_Bold_Free-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}